Flask==2.2.2
h5py==3.7.0
keras==2.10.0
Keras-Preprocessing==1.1.2
numpy==1.23.3
requests==2.28.1
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-cpu==2.10.0
gunicorn==19.9.0
